.profile-img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
}

.profile{
	margin-top: 50px;
}

.profile-description{
	text-align: center;
	margin-top: 10px;
}

.profile-date{
	font-size: 0.9rem;
    color: #838A95;
}

.profile-count{
	font-size: 0.9rem;
    color: #838A95;
}

.profile-address{
	margin-bottom: 10px;
}

.profile-adds-description a{
	font-size: 0.9rem;
}

.profile-adds-description span{
	font-size: 0.9rem;
	color: #838A95;
}

@media screen and (max-width: 767px) {
    .profile-adds-description {
        text-align: center;
        margin-top: 20px;
    }
    
}

.profile-adds-content{
	margin-top: 20px;
}

.adds-sm-cards-img{
	display: block;
    width: 141px;
    height: 106px;
    overflow: hidden;
    position: relative; 
}

.adds-sm-cards-img img{
	display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
   
}

.adds-sm-cards-date{
	font-size: 0.8rem;
	color: #838A95;
}

.adds-sm-cards{
	margin-bottom: 20px;
}


/* ---------------- ПОД ВОПРОСОМ, ЗУМ КАРТИНКИ -------------------- */

@media screen and (max-width: 575px) {
    .adds-sm-cards {
        text-align: center;
    }
    .adds-sm-cards-img{
        text-align: center;
        width: 100%;
    }
}

/* -------------------------????----------------------------------- */
/* -------------------------????----------------------------------- */