.settings-photo{
	display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative; 
}

.settings-photo img{
	display: block;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
   
}

.settings-messages-empty{
    font-size: 13px;
    color: #838A95;
}

.add-sm-cards-icon-remove{
    right: 5px;
    top: -1px;
    position: absolute;
}

.add-sm-cards-icon-edit{
    left: 5.5px;
    position: absolute;
}
.add-sm-cards-icon{
    color: #838A95;
    line-height: 30px !important;

}

.add-sm-cards-icon:hover{
    color: #000;
    cursor: pointer;
}

@media screen and (max-width: 1199px) {
    .ff_r {
        right: -5px !important;
    }

    .ff_l {
        left: 12px !important;
    }
}

@media screen and (max-width: 767px) {
    .ff_r {
        right: 11px !important;
    }
}




