.settings-photo{
	display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative; 
}

.settings-photo img{
	display: block;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
   
}

.settings-messages-empty{
    font-size: 13px;
    color: #838A95;
}

.add-sm-cards-icon-remove{
    right: 5px;
    top: -1px;
    position: absolute;
}

.add-sm-cards-icon-edit{
    left: 5.5px;
    position: absolute;
}
.add-sm-cards-icon{
    color: #838A95;
    line-height: 30px !important;

}

.add-sm-cards-icon:hover{
    color: #000;
    cursor: pointer;
}

/* Подстраивать элементы под картинки, каеф, менюшки для карточек */
@media screen and (max-width: 1199px) and (min-width: 991px) {
    .ff_r {
        right: 28px !important;
    }

    .ff_l {
        left: 12px !important;
    }
    
    .settings-photo{
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    .ff_r {
        right: 90px !important;
    }
}

@media screen and (max-width: 991px) and (min-width: 767px){
    .ff_r {
        right: 65px !important;
    }
}

@media screen and ( max-width: 575px ){
    .ff_r{
        right: 10px !important;
    }
}


/* ------------------------------------------- */

@media screen and ( max-width: 991px){
    .settings-menu{
        margin-bottom: 20px;
    }
    .settings-menu{
        text-align: center;
    }
    .settings-description{
        text-align: center;
    }
    .settings-messages-empty{
        text-align: center;
    }
}




 .messages-image{
    width: 108.75px !important;
    height: 108.75px !important;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
}

.message-description{
    text-align: center;
}

.message-content{
    margin-top: 20px;
    border-bottom: 1px solid #EEEEEE;
    text-decoration: none;
}

.message-unreaded{
    border-bottom: 2px solid #dd2e2d;
}

.message-content:hover{
    border-bottom: 5px solid #dd2e2d;
    border-radius: 2px;
    cursor: pointer;
}

.fa-exclamation{
   color: #dd2e2d; 
} 

/* Страница чатиков */

.dialog {
    padding: 10px 0px 10px 0px;
    border: 1px solid #fff;
}

.dailog-image-link{

}

.dailog-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.dailog__addname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}
.dailog__username, .dailog__addname {
    color: #000;
}

.dialog-link:hover {
    text-decoration: none;
}

.dialog:hover, .border_n {
    border: 1px solid rgba(0,0,0,.1);
}

.dialogues {
    border: 1px solid rgba(0,0,0,.1);
    /* height: 720px !important; */
    height: 74.5vh;
    overflow: auto;
}

.messages {
    height: 95px;
    overflow: auto;
}

.messages-form {
    border: 1px solid rgba(0,0,0,.1);
}

.messages-form-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.messages {
    flex: 1 0 auto;
}
.messages-sender {
    flex: 0 0 auto;
}

.message {
    margin-bottom: 5px;
}

.msg-btn, .msg-inp {
    background-color: #fff;
    color: #903aff;
    border-color: #903aff;
}

.msg-btn:hover {
    background-color: #903aff;
    color: #fff;
    border-color: #903aff;
}

.round-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.message-image {
    max-height: 100px;
    max-width: 100%;
}

/* объявление собеседника */

.recipient_offer {
    margin-bottom: 20px;
}

.recipient_offer__img {
    width: 100%;
    display: table;
}

.recipient_offer__img_link {
    height: 150px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.recipient_offer__img__src {
    max-height: 150px;
    max-width: 100%;
}

.recipient_offer__title {
    font-size: 20px;
}

/* --------------------*/

/* scrollbar */

.dialogues::-webkit-scrollbar-track, .messages::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.dialogues::-webkit-scrollbar, .messages::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.dialogues::-webkit-scrollbar-thumb, .messages::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/* --------------------*/